*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("IMG/BG1.JPG");
}

.title{
    display: flex;
    justify-content: center;
    padding: 24px;
}

h1{
    text-align: center;
    color: white;
}

#gallery
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: last baseline;
    width: 100%;
    height: max-content;
}

.img{
    border: 8px solid blue;
    height: 100%;
    width: auto;
}